hr{
	display: none;
}

.container-fluid {
	background: aliceblue;
}

#messages{
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
}

.message{
	/* border: 1px solid #bebebe; */
	box-shadow: 0px 2px #bebebe;
	padding: 6px 8px 8px 9px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	width: fit-content;
	margin-right: auto;
	margin: 5px auto 0 0;
	background: white;
}
.message:first-child{
	margin-top: 20px;
}
.message:last-child{
	margin-bottom: 10px;
}
[my-msg]{
	background: #d9fdd3;
	margin-left: auto;
	margin-right: 0;
}
[engage-msg]{
	background: #d9d9d9;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	box-shadow: 0px 2px #c1c1c1;
}
[engage-msg] div{
	margin: 0 3px;
}
[engage-msg] .msg-time{
	display: none;
}
.msg-sender{
	font-size: 14px;
	font-weight: bold;
}
.msg-text{
	display: flex;
	flex-direction: column;
}
.msg-text a{
	display: flex;
}
.msg-text img{
	max-width: 100%;
	margin: 0 auto;
}
.msg-time{
	font-size: 12px;
	text-align: right;
}

#textbox{
	position: fixed;
	bottom: 0px;
	left: 0px;
	background: #f0f2f5;
	width: 100%;
	border-top: 1px solid #bebebe;
}
#the-rest{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
#rem-file{
	margin: auto 5px;
}
#the-rest button, #rem-file{
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	width: fit-content;
	height: fit-content;
}
#the-rest button img, #rem-file img{
	width: 40px;
	height: 40px;
	background: #d9d9d9;
	border-radius: 50px;
	padding: 5px;
	box-shadow: 0px 2px #c1c1c1;
}
#new-msg{
	resize: none;
	max-height: 105px;
}

#send-btn{
	display: none;
}

#filearea{
	width: 100%;
	height: 100px;
	background-color: #f0f2f5;
	display: none;
	padding: 5px;
	justify-content: center;
	flex-direction: row-reverse;
	border-top: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
}
