**/__pycache__
*user
*~
**/Makefile
**/.debug
*.tar.gz
*.zip
*.7z
*.dat
/.project
static
static/*
media
media/*
**/media/*
**/CACHEDIR.TAG
**/flags/*
**/migrations/*
**/export/*
**/vdev/*
**/env/*

.vscode
*.sqlite3
.queries
**.sql
