<!DOCTYPE html>
{% load static %}

<html lang="en">
	<head>
		<meta charset="utf-8">

		<!-- Title -->
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}?{% now 'U' %}"/>
		<title>
			{% block title_block %}
				webchat
			{% endblock %}
		</title>

		<!-- Styles -->
		{% block stylesheets %}
			<link href="{% static "css/custom.css" %}" rel="stylesheet"/>
		{% endblock %}

		<!-- Scripts (will execute when entering all pages) -->
		{% block headscript_block %}
		{% endblock %}
	</head>

	<body>
		<!-- Main Content -->
		{% block body_block %}
		{% endblock %}

		<!-- Scripts -->
		{% block scripts %}
			<script src="{% static "jquery/jquery-3.6.3.min.js" %}"></script>
			<script src="{% static "js/common.js" %}?{% now 'U' %}"></script>
		{% endblock %}

		{% block extrascripts %}
		{% endblock %}
	</body>
</html>
